@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.column{
  border-style: solid;
  border-width: medium;
  height: 33%;

}

.container {
  height: 100%;
  width: 30%;
}

.row {
  width: 100%

}

.box {
  height: 100px
}
.container {
  text-align: center;
  }

div.game-state {
  display:inline-block;
  color: red;
}
