@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.column{
  border-style: solid;
  border-width: medium;
}
/*
.container {
  height: 100%;
  width: 100%;
}
*/
.row {
  max-width: 500px;
  margin: 0 auto;
}

.box {
  height: 100px;
  width: 100px;
}

.container {
  text-align: center;
  }

div.game-state {
  display:inline-block;
  color: red;
}
